<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    <bean id="serviceimpl" class="de.l7r7.proto.bundle.magic.string.impl.RandomStringImpl"/>
    <service ref="serviceimpl" interface="de.l7r7.proto.bundle.magic.string.api.RandomStringGenerator"/>
</blueprint>